.lista-notas {
    background-color: var(--fundo);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    list-style-type: none;
    padding: 24px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .lista-notas_item {
    margin: 12px;
    max-width: 240px;
    max-height: 400px;
    display: inline;
  }